{% load static %}

<table id="resultstable">
  {% if namelists %}
    {% for namelist in namelists %}
  <tr>
      <td>
           {{namelist.upload_date}}
      </td>
      <td>
        <a href="{% static namelist.namefile|cut:"data/jobs" %}">
          {{namelist.namefile|cut:"data/jobs"}}
       </a>
      </td>
      <td>
           {{namelist.status}}
      </td>
      <td>
           {% if namelist.donefile %}

           <a href="{% static namelist.donefile %}">
              {{namelist.donefile}}
          </a>


          <!--  bot con link csv como parametro  -->
          <div class="verCSV" onclick="verCSV('{% static namelist.donefile %}')">
             ver-csv
          </div>
          <!-- .................................. -->



          {% endif %}
      </td>
  </tr>
    {% endfor %}
  {% endif %}
</table>
