{% load static %}
<!DOCTYPE HTML>
<html>
 <head>
 <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/papaparse.js"></script>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://static.mlstatic.com/org-img/ch/tools/html5shiv/html5shiv.js"></script>
	<![endif]-->


</head>
<body>

  <div id="cont" class="container-fluid">
  <div class="row">



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand titWeb" href="#"><h1>Panama Search</h1></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="upload.html">Buscador</a></li>
        <li><a href="#">+info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="logo_hack" href="https://hackdash.org/projects/57c19017d9284f016c047248" target="_blank"><img src="{% static 'img/logohack.png' %}" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="line"></div>
</nav>



<section class="col-md-10 col-md-offset-1 col-sm-12">
<div class="row">


              <!-- ............................................ -->


              <div id="titForm" class="contPage col-md-12">
              <div class="row">
                  <div id="titInfo">
                    <h1>Panama Search</h1>
                    <br>
                    <h2>Gotta find'em all</h2>
                  </div>
                  <div id="titInfo2">
                    <div class="col-md-3"><img id="imgHack" src="{% static 'img/imgHack.jpg'%}" alt="" width="200px" height="200px"></div>
                    <div class="col-md-8">
                      <h1><strong>¿Qué es?</strong></h1>
                      Este motor de búsqueda permite realizar consultas de nombres dentro de la base de datos de Panama Papers en grandes bloques, sin necesidad de hacerlos uno por uno, y ahorrándote horas de trabajo.
                    </div>
                  </div>
                  <div class="col-md-12 titInfo3">
                       <h1><strong>Cómo usarlo</strong></h1>
                       Debes ingresar un listado de datos, como por ejemplo el nombre completo de la persona, o el número de identificación personal (DNI, ID). Este listado puede ser subido de dos maneras

                  </div>
                  <div class="col-md-12">
                  <div class="row">
                         <div class="col-md-6">
                                    <img class="imgCsv" src="{% static 'img/imgcsv1.png'%}" alt="" width="250px" height="250px">
                        </div>
                        <div class="col-md-6">
                                    
                        </div>
                  </div>
                  </div>
                  <div id="infoForm" class="col-md-12">

                      Cada renglón equivale a un registro, pudiendo ingresar más de un dato por registro separado por comas. Por jemplo:

                  </div>
                  <div id="infoForm2" class="col-md-10 col-md-offset-1">
                      <code>
                        Nombre Completo 1, 30456990, <br>
                        Nombre Completo 2,           <br>
                        Nombre Completo 3, 2430097   <br>
                      </code>
                  </div>
                  <div class="col-md-12 titInfo3">
                       <h1><strong>Resultados</strong></h1>
                        Las consultas a la base de datos entera puede tomar un tiempo. Revisa tu archivo debajo, visualizá los resultados cuando esté listo y descargalos.
                  </div>
                  <div class="col-md-12 titInfo3">
                       <h1><strong>Importante</strong></h1>

                          Esta herramienta tiene como objetivo ayudarte en la investigación, ahorrando tiempo en filtrados y grandes búsquedas.
                  </div>
                  <div class="col-md-12">
                  <div class="row">
                       <img id="imgManos" src="{% static 'img/manos.png'%}" alt="" width="500px" height="">

                  </div>
                  </div>
                  <div class="col-md-12 titInfo3">
                      Debido al gran tamaño de la base de datos de Panama Papers, este motor de búsqueda se basa solo en reconocimiento de texto y similitudes. Algunos resultados podrían no corresponder a la persona buscada.
                                <br> <br>
                      La confirmación de los datos arrojados y contrastación con otras fuentes dependen de vos. Recordá: este motor te ayudará en tu investigación, pero no la definirá.
                  </div>
              </div>
              </div>


              <!-- ............................................ -->

      </div>
      </section>


  </div>
  </div>

</body>
</html>
