{% load static %}
<!DOCTYPE HTML>
<html>
 <head>
 <meta charset="UTF-8">
  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="static/js/papaparse.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<!--[if lt IE 9]>
		<script src="http://static.mlstatic.com/org-img/ch/tools/html5shiv/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

  <div id="cont" class="container-fluid">
    <div class="row">

      <header class="col-md-12">
          <ul id="nav1">
            <li><h1>Leak Search</h1></li>
            <li><h2>Gotta find'em all</h2></li>
          </ul>

          <a href="https://hackdash.org/projects/57c19017d9284f016c047248" target="_blank">
            <img src="{% static 'img/logohack.png' %}" alt="hackdash" id="logo_hack">
          </a>
          <a href="https://github.com/martinszy/panamasearch" target="_blank">
            <img src="{% static 'img/github.png' %}" alt="Github" id="logo_github">
          </a>
          <div class="line"></div>
      </header>
    </div>

    <section class="row col-sm-10 col-sm-offset-1">
      <div class="alert alert-info">
            Consulte nombres dentro de la base de datos de Offshore Leaks en grandes bloques, sin necesidad de hacerlos uno por uno, y ahorre horas de trabajo.
      </div>
      <div id="contForm" class="alert alert-warning">
          <form method="post" id="formulario" enctype="multipart/form-data" action="/">
                  <h1>Trabajo nuevo</h1>
                  {% csrf_token %}
                  <table>
                    {{ form }}

                  </table>
                <input type="submit" value="Enviar">
                {% if resultado %}
                {{ resultado }}
                {% endif %}
          </form>
      </div>

      <div id="contResp">
            <div id="titulo"><h1>Cola de trabajos:</h1>
            </div>
            <p>
              Se actualiza cada 5 segundos.
            </p>

            <div id="resultado">
            </div>


            <!-- resultados de link CSV-->
            <div id="resultadoCSV">
              <table width="100%" border=1>

              </table>
            </div>
            <!-- ..................... -->


        </div>



        <!-- ............................................ -->

      </div>
    </section>
    <section class="col-sm-10 col-sm-offset-1">


      <div class="row">
        <div class="col-md-12 titInfo3">
             <h1><strong>Cómo usarlo</strong></h1>
             Debes ingresar un listado de datos, como por ejemplo el nombre completo de la persona, o el número de identificación personal (DNI, ID). Este listado puede ser subido de dos maneras

        </div>
      </div>
      <div class="row">
        <div id="infoForm" class="col-sm-8">

            Cada renglón equivale a un registro, pudiendo ingresar más de un dato por registro separado por comas. Por jemplo:
            <div id="infoForm2" class="col-md-10 col-md-offset-1">
                <code>
                  Nombre Completo 1, 30456990, <br>
                  Nombre Completo 2,           <br>
                  Nombre Completo 3, 2430097   <br>
                </code>
            </div>

        </div>
        <div class="col-md-3">
                   <img class="imgCsv" src="{% static 'img/imgcsv1.png'%}" alt="" width="100px" height="100px">
       </div>
     </div>
     <div class="row">
        <div class="col-md-12 titInfo3">
             <h1><strong>Resultados</strong></h1>
              Las consultas a la base de datos entera puede tomar un tiempo. Revisa tu archivo debajo, visualizá los resultados cuando esté listo y descargalos.
        </div>
        <div class="col-md-12 titInfo3">
             <h1><strong>Importante</strong></h1>

             <p>
                Esta herramienta tiene como objetivo ayudarte en la investigación, ahorrando tiempo en filtrados y grandes búsquedas.
              </p>
            <p>

            Debido al gran tamaño de la base de datos de Offshore Leaks, este motor de búsqueda se basa solo en reconocimiento de texto y similitudes. Algunos resultados podrían no corresponder a la persona buscada.
            </p>
            <p>
            La confirmación de los datos arrojados y contrastación con otras fuentes dependen de vos. Recordá: este motor te ayudará en tu investigación, pero no la definirá.
          </p>
        </div>
    </div>
    <div class="col-md-8 titInfo3">
         <h1><strong>Equipo</strong></h1>
         Software creado en el hackatón de la MediaParty 2016 en Buenos Aires por:
         <ul>
           <li>Nico Cohen</li>
           <li>Martín Szyszlican</li>
           <li>Mariano Aragunde</li>
           <li>Andy Tow</li>
           <li>Diego Lis</li>
           <li>Mariano Ferle</li>
           <li>Gerfranc</li>
         </ul>
    </div>
    <div class="col-md-3"><a href="http://www.mediaparty.info"><img id="imgHack" src="{% static 'img/imgHack.jpg'%}" alt="" width="200px" height="200px"></a></div>

</section>
  </div>
  </div>
  <script type="text/javascript"  src="/static/js/main.js"></script>
</body>
</html>
